<div class="mat-elevation-z8">
  <table *ngFor="let req of requestModel;let i = index; "  mat-table class="full-width-table" matSort aria-label="Elements">
    
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ req.title }}</th>
      <td mat-cell *matCellDef="let row"></td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{req.message}}</th>
      <td mat-cell *matCellDef="let row"></td>
    </ng-container>

    <tr  mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>

<!-- <table>
  <tr *ngFor="let req of requestModel;let i = index; " >
    <th>{{ req.title }}</th>
    <td>{{req.message}}</td>
  </tr>
</table> -->
