<div class="container" [ngClass]="{'sign-up-mode':mode === 'sign-up-mode'}">
  <div class="forms-container">
    <div class="signin-signup">

      <form action="#" (ngSubmit)="signIn()" class="sign-in-form">
        <h2 class="title">Sign in</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input type="email" name="email" [(ngModel)]="loginModel.email" placeholder="Email" />
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" name="password" [(ngModel)]="loginModel.password" placeholder="Password" />
        </div>
        <input type="submit" value="Login" class="btn solid" />
        <p class="social-text">Or Sign in with social platforms</p>
        <div class="social-media">
          <button (click)="signInWithFacebook()" class="social-icon" style="cursor: pointer;">
            <i class="fab fa-facebook-f"></i>
          </button>
          <!-- <a href="#" class="social-icon">
                  <i class="fab fa-twitter"></i>
                </a> -->
          <a href="#" class="social-icon">
            <i class="fab fa-google"></i>
          </a>
          <!-- <a href="#" class="social-icon">
                  <i class="fab fa-linkedin-in"></i>
                </a> -->
        </div>
      <button class="privacy-policy-btn" (click)="privacyPolicy()">Privacy Policy</button>

      </form>

      <form action="#" (ngSubmit)="signUp()" class="sign-up-form">
        <h2 class="title">Sign up</h2>
        <div class="input-field">
          <i class="fas fa-envelope"></i>
          <input type="email" name="email" [(ngModel)]="signUpModel.email" placeholder="Email" />
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input name="password" [(ngModel)]="signUpModel.password" type="password" placeholder="Password" />
        </div>

        <div class="radio-button">
          <mat-radio-group name="usertype" color="primary" [(ngModel)]="signUpModel.userType" aria-label="Select an option">
            <mat-radio-button value="SEEKER">I'm looking for a Donation</mat-radio-button>
            <mat-radio-button value="DONATOR">I'm here to Contribute</mat-radio-button>
          </mat-radio-group>
        </div>

        <!-- <div class="input-field">
          <i class="fas fa-lock"></i>
          <select name="usertype" >
            <option value="SEEKER">I'm looking for a Donation</option>
            <option value="DONATOR">I'm here to Contribute</option>
          </select>
        </div> -->
        
        <input type="submit" class="btn" value="Sign up" />
        <p class="social-text">Or Sign up with social platforms</p>
        <div class="social-media">
          <a href="#" class="social-icon">
            <i class="fab fa-facebook-f"></i>
          </a>
          <!-- <a href="#" class="social-icon">
                  <i class="fab fa-twitter"></i>
                </a> -->
          <a href="#" class="social-icon">
            <i class="fab fa-google"></i>
          </a>
          <!-- <a href="#" class="social-icon">
                  <i class="fab fa-linkedin-in"></i>
                </a> -->
        </div>

      <button class="privacy-policy-btn" (click)="privacyPolicy()">Privacy Policy</button>

      </form>
    </div>
  </div>

  <div class="panels-container">
    <div class="panel left-panel">
      <div class="content">
        <h3>New here ?</h3>
        <p>
          We need you! Sign Up here to join our community!
        </p>
        <button class="btn transparent" (click)="onSingUp()" id="sign-up-btn">
          Sign up
        </button>
      </div>
      <img src="assets/img/signin_img.svg" class="image" alt="" />
    </div>
    <div class="panel right-panel">
      <div class="content">
        <h3>One of us ?</h3>
        <p>
          Welcome back! Our community missed you!    
        </p>
        <button class="btn transparent" (click)="onLogin()" id="sign-in-btn">
          Sign in
        </button>
      </div>
      <img src="assets/img/signup_img.svg" class="image" alt="" />
    </div>
  </div>
</div>