<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Donator Dashboard</mat-toolbar>
    <mat-nav-list>
      <span><a mat-list-item routerLink="/dashboard"><i class="fas fa-home"></i> &nbsp;&nbsp; Home</a></span>
      <span><a mat-list-item routerLink="/dashboard/profile"><i class="fas fa-user"></i> &nbsp;&nbsp; Profile</a></span>
      <span><a mat-list-item routerLink="/dashboard/posts"><i class="fas fa-edit"></i> &nbsp;&nbsp; My Posts</a></span>
      <span><a mat-list-item routerLink="/dashboard/messages"><i class="fas fa-envelope"></i> &nbsp;&nbsp; Messages</a></span>
      <span><a mat-list-item (click)="logOut()" ><i class="fas fa-sign-out-alt"></i> &nbsp;&nbsp; Logout</a></span>
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Sponsorship Management System</span>
      
      <!-- <form > 
        <input type="submit" (ngSubmit)="logOut()" value="Logout" class="btn solid">
      </form> -->
      <!-- <button action="#" type="button" (click)="logOut()" >Logout</button> -->
      
    </mat-toolbar>
     
    <!-- Add Content Here -->
      <!-- <app-dash></app-dash> dashboard -->
      <!-- <app-profile></app-profile>  profile -->
      <router-outlet></router-outlet>


  </mat-sidenav-content>
</mat-sidenav-container>
