<form [formGroup]="addressForm" novalidate (ngSubmit)="createRequest()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Donation Requets</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input type="text" name="title" [(ngModel)]="requestModel.title" matInput placeholder="Title of the requets" formControlName="title">
            <mat-error *ngIf="addressForm.controls['title'].hasError('required')">
              Title is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <textarea type="text" name="message" [(ngModel)]="requestModel.message" matInput placeholder="Your Message here!" formControlName="message"></textarea>
              <mat-error *ngIf="addressForm.controls['message'].hasError('required')">
                Message is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        
      
      
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
